<%= form_for ([@restaurant, @reservation]) do |r| %> 
	<div class="field">
		<%= r.label :party_size %>
		<%= r.text_field :party_size %>
	</div>
	<div class="field">
		<div><%= r.label :date %>
		<%= r.text_field :date %></div>
	</div>
	<div class="field">
		<div><%=r.label :time %>
		<%= r.text_field :time, type: 'time', step: "#{60.minutes}" %></div>
		<!-- use a drop down for time -->
	</div>

	<div class="action">
		<%= r.submit %>
	</div>

	<% end %>