<%= form_for @restaurant do |l| %> 
	<div class="field">
		<div><%= l.label :name %></div>
		<%= l.text_field :name %> <br>
	</div>
	<div class="field">
		<div><%= l.label :description %></div>
		<%= l.text_area :description %> <br>
	</div>
	<div class="field">
		<div><%= l.label :address %></div>
		<%= l.text_field :address %> <br>
	</div>
	<div class="field">
		<div><%= l.label :phone_number %></div>
		<%= l.text_field :phone_number %><br>
	</div>
	<div class="action">
		<%= l.submit %>
	</div>

	<% end %>