<h1><%= @restaurant.name %></h1>
<!-- show a specific restaurant using restaurant model info. name,descrip,addy,tel, category -->
<!-- links: Edit, Delete, Book a table -->
<div class="restaurantdescription">
  <%= @restaurant.description%><br>
  <%= @restaurant.address%> <br>
  <%= @restaurant.phone_number%><br> 
  <%= @restaurant.category%><br>
</div>