<h1><%= @restaurant.name %></h1>
<!-- show a specific restaurant using restaurant model info. name,descrip,addy,tel, category -->
<!-- links: Edit, Delete, Book a table -->
<div class="restaurantdescription">
  <%= @restaurant.description%><br>
  <%= @restaurant.address%> <br>
  <%= @restaurant.phone_number%><br> 
  <%= @restaurant.category%><br>
</div>
<div class ="navstyle">
<%= link_to "Edit", edit_restaurant_path %>
<%= link_to "Delete", @restaurant, method: :delete, data: {confirm:"Are you sure?"} %>
<%= link_to "Book A Table", new_restaurant_reservation_path(@restaurant), :class => "navstyle" %>

  <h1>Booked Reservations</h1>
  <% @restaurant.reservations.each do |reservation| %>

      <% if reservation.user != nil %>
        <strong>Reservation is booked for:</strong> <%= reservation.user.name %>
      <% end %><br>
      <strong>Party size:</strong> <%= reservation.party_size %><br>
      <strong>Date:</strong> <%= reservation.date %><br>
      <strong>Time:</strong> <%= reservation.time.to_s(:hour_only) %>
      <br>
      <% if reservation.user == current_user %>
        <%= link_to "Edit" , edit_restaurant_reservation_url(@restaurant, reservation) %>
        <%= link_to "Cancel Reservation", restaurant_reservation_path(@restaurant, reservation), method: :delete, data: {confirm: "Are you sure you want to delete this restaurant?"} %>
<!--else You have no reservations message -->
      <% end %>
    </p>
  <% end %>
</div>