<h1><%= @restaurant.name %></h1>
<div class ="placeholderpicture"></div>
<div class="restaurantdescription">
  <%= @restaurant.description%><br>
  <%= @restaurant.address%> <br>
  <%= @restaurant.phone_number%><br> 
  <%= @restaurant.category%><br>
</div>
<div class ="navstyle">
<%= link_to "Edit", edit_restaurant_path, :class =>"inner_back_btns" %>
<%= link_to "Delete", @restaurant, :class =>"inner_back_btns", method: :delete, data: {confirm:"Are you sure?"} %>
<%= link_to "Book A Table", new_restaurant_reservation_path(@restaurant), :class =>"inner_back_btns" %>
<%= link_to "Back To Listings", restaurants_url, :class =>"inner_back_btns" %>
</div>
  <% @restaurant.reservations.each do |reservation| %>
      <% if reservation.user != nil %>
        <h1>Booked Reservations</h1>
        <strong>Reservation is booked for:</strong> <%= reservation.user.name %>
      <% end %><br>
      <strong>Party size:</strong> <%= reservation.party_size %><br>
      <strong>Date:</strong> <%= reservation.date %><br>
      <strong>Time:</strong> <%= reservation.time.to_s(:hour_only) %>
      <br>
      <% if reservation.user == current_user %>
        <%= link_to "Edit" , edit_restaurant_reservation_url(@restaurant, reservation) %>
        <%= link_to "Cancel Reservation", restaurant_reservation_path(@restaurant, reservation), method: :delete, data: {confirm: "Are you sure you want to delete this restaurant?"} %>
<!--else You have no reservations message -->
      <% end %>
    </p>
  <% end %>
</div>